# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual envs
venv/
.venv/
env/

# Data file (personal)
.todo_habit_data.json

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp
